body{
    margin: 0;
    padding: 10px;
}

.txt{
    margin-top: -5px;
    padding: 10px;
    background-color: darkgray;
    border-radius: 6px;
    width: 100%;
    height: 300px;

}

.icon{
    width: 270px;
    height: 320px;
    display: block;
    float: left;
   margin: 10px;
    border: 5px solid blanchedalmond;
    padding: 10px;
}